body{
    background-color: white;
}

div.header{
    font-weight: 700;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

div.start{
    text-align: center;
}

div.start > button{
    font-size: 26px;
    padding: 25px;
    background-color: blue;
    border: none;
    outline: none;
    border-color: blue;
    border-radius: 10px;
    position: relative;
    color: white;
}

/* Questions Section */

div.parent{
    position: relative;
    align-items: center;
    justify-content: center;
}

div.parent > div.questions_section{
    border: 2px solid grey;
    width: 60%;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
}

div.parent > div.questions_section > div.question > div.question_text > span {
    font-size: 25px;
}

div.parent > div.questions_section > div.question > div.answer_choices {
    font-size: 20px;
    padding: 20px;
}

div.submit {
    margin-top: 25px;
    /* margin-bottom: 30px; */
}

div.submit > button.submit_btn {
    background-color: green;
    font-size: 26px;
    padding: 25px;
    border: none;
    outline: none;
    border-radius: 10px;
    position: relative;
}


/* Results Section */
div.results_container{
    width: 60%;
    margin: auto;
}

div.results{
    text-align: center;
    border: 2px solid grey;
    margin-bottom: 20px ;
    border-radius: 10px;
}

button.restart{
    color: black;
    background-color: white;
    font-size: 26px;
    padding: 25px;
    border-color: black;
    border-radius: 10px;
    position: relative;
    margin-bottom: 20px;
}

