@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&family=Roboto:ital,wght@1,700&display=swap');


body{
    background-color: white;
}

div.header{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    font-family: 'Hanalei Fill', cursive;
}

div.start{
    text-align: center;
}

div.start > button{
    font-size: 26px;
    padding: 25px;
    background-color: blue;
    border: none;
    outline: none;
    border-color: blue;
    border-radius: 10px;
    position: relative;
    color: white;
    cursor: pointer;
}

/* Questions Section */

div.parent{
    position: relative;
    align-items: center;
    justify-content: center;
}

div.parent > div.questions_section{
    border: 2px solid grey;
    width: 60%;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    margin-top: 15px;
}

div.parent > div.questions_section > div.question > div.question_text > span {
    font-size: 25px;
}

div.parent > div.questions_section > div.question > div.answer_choices {
    font-size: 20px;
    padding: 20px;
}

div.parent > div.questions_section > div.question > div.answer_choices > form.choice > div{
    border: 1px solid #84c5fe;
    background: aliceblue;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 5px;

}

div.submit {
    margin-top: 25px;
}

div.submit > button.submit_btn {
    background-color: green;
    font-size: 26px;
    padding: 25px;
    border: none;
    outline: none;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

input{
    cursor: pointer;
    height: 20px;
    width: 20px;
}

form.choice > div {
    justify-content: center;
}

/* Results Section */
div.results_container{
    width: 60%;
    margin: auto;
}

div.results{
    text-align: center;
    border: 2px solid grey;
    margin-bottom: 20px ;
    border-radius: 10px;
    margin-top: 5px;
}

button.restart{
    color: black;
    background-color: white;
    font-size: 26px;
    padding: 20px 30px 20px 30px;
    border-color: black;
    border-radius: 10px;
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
}

